In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import statistics

In [8]:
# Import your data into a Pandas DataFrame.
city_data_load= os.path.join("Resources", "city_data.csv")
ride_data_load= os.path.join("Resources", "ride_data.csv")

# read files
city_data_df = pd.read_csv(city_data_load)
ride_data_df = pd.read_csv(ride_data_load)

In [11]:
# Inspect DataFrames before merging them
city_data_df.count()

# Get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [12]:
# checking to see what the data types are for each column
# specifically we want to know if the driver_count column is an int type column as we will be doing calculations
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [14]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [17]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Rural")

18

In [18]:
# Merge your DataFrames.
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [ ]:
# Merge your DataFrames.

In [ ]:
# Create a bubble chart that showcases the average fare versus the total number of rides with 
# bubble size based on the total number of drivers for each city type, including urban, suburban, and rural.

In [ ]:
# Determine the mean, median, and mode for the following:
# The total number of rides for each city type.
# The average fares for each city type.
# The total number of drivers for each city type.

In [ ]:
# Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:
# The number of rides for each city type.
# The fares for each city type.
# The number of drivers for each city type.

In [ ]:
# Create a pie chart that visualizes each of the following data for each city type:
# The percent of total fares.
# The percent of total rides.
# The percent of total drivers.